body {
    margin: 0%;
    background-color: #E0D2C3;
}

#header {
    color: rgb(0, 0, 0);
    background-color: #BCD8B7;
}


/* #first-meal {
    color: rgb(0, 0, 0);
    background-color: #93827F;
    align-items: center;
} */


/* #Fish-meal {
    border-radius: 25%;
    align-content: center;
    margin: 25px;
    height: 30vh;
    width: 30vw;
}

#BBQ-meal {
    border-radius: 25%;
    align-content: center;
    margin: 25px;
    height: 30vh;
    width: 30vw;
} */

img {
    border-radius: 10%;
    margin: 25px;
    height: 30vh;
    width: 30vw;
}